.box{
    height: 300px;
    width: 300px;
    background-color: rgb(230, 154, 154);
    outline-color: aqua;
    display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 50%;
   left: 50%;
}
.components{
    display: flex;
    flex-direction: column;
    margin: 2px;
}
.components label{
 margin-top: 5px;
}
.button{

    width: 90px;
    align-self: center;
    border-radius: 5px;
    position: relative;
    top: 5px;
     cursor: pointer;
}
.error{
    color: red;
    font-size: small;
}